include LICENSE NOTICE README.md
recursive-include requirements *.txt
recursive-include examples *.py *.json
recursive-include scripts *.py *.sh
recursive-include tools *.py
recursive-include web *.html *.css *.js
recursive-include configs *.json
recursive-include tests *.py
recursive-include docs *.md *.json
recursive-include demos *.html *.css *.md *.json *.jpg *.gif *.mp4
include demos/NANOJEV-LICENSE
